@font-face{
    font-family: mono_andale;
    font-weight: regular;
    src: url('../fonts/andale.ttf')
}

h1{
    color:white;
    font-size: 22px;
    line-height: 1.5;
}

body{
    font-size: 16px;
    color: white;
    font-family: mono_andale, display;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

a:link, a:active{
    color:khaki;
}

a:link, a:visited{
    color: steelblue;
}

a:hover{
    color:cadetblue;
}

p{
    font-family: mono_andale;
    font-size: 18px;
    color:white;
    text-align: center;
}

blockquote{
    color:white;
}

text{
    border: 10px solid powderblue;
    padding: 0px;
    margin: 30px;
    color:white;
    line-height: 1.5;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: lightcyan;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 10px 0;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
  }

  .btn {
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(powderblue, cadetblue);
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    font-family: mono_andale;
    text-shadow: 0 10px 10px cadetblue;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
   }
   
   .btn::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: cadetblue;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
   }
   
   .btn::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: powderblue;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
   }
   
   .btn:hover {
    transform: rotateX(30deg) rotateZ(0);
   }
   
   .spinner {
    width: 60px;
    height: 60px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: rgba(158,185,212,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid cadetblue;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-30px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(30px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }

   .card {
    width: 190px;
    height: 254px;
    background: rgb(119,214,199);
    background: linear-gradient(328deg, rgba(119,214,199,1) 0%, rgba(155,201,199,1) 80%, rgba(158,222,211,1) 100%);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }