@font-face{
    font-family: mono_andale;
    font-weight: regular;
    src: url('../fonts/andale.ttf')
}

h1{
    color:white;
    font-size: 22px;
    line-height: 1.5;
}

body{
    font-size: 16px;
    color: white;
    font-family: mono_andale, display;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

a:link, a:active{
    color:khaki;
}

a:link, a:visited{
    color: steelblue;
}

a:hover{
    color:cadetblue;
}

p{
    font-family: mono_andale;
    font-size: 18px;
    color:white;
    text-align: center;
}

blockquote{
    color:white;
}

text{
    border: 10px solid powderblue;
    padding: 0px;
    margin: 30px;
    color:white;
    line-height: 1.5;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: lightcyan;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 10px 0;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 32px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 32px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
  }

  .btn {
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(powderblue, cadetblue);
    border: none;
    outline: none;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    font-family: mono_andale;
    text-shadow: 0 10px 10px cadetblue;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
   }
   
   .btn::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: cadetblue;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
   }
   
   .btn::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: powderblue;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
   }
   
   .btn:hover {
    transform: rotateX(30deg) rotateZ(0);
   }
   
   .spinner {
    width: 100px;
    height: 100px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: rgba(158,185,212,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid cadetblue;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-20px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(20px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }

   .card {
       width: 25rem;
       cursor: pointer;
   }

   .content {
       text-align: center;
       position: relative;
       transition: all 2.25s;
       background-color: indianred;
       padding: 5em;
       transform-style: preserve-3d;
   }

   .card:hover .content {
       transform: rotateY(0.5turn);
   }

   .front,
   .back {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       padding: 2em;
       transform-style: preserve-3d;
       backface-visibility: hidden;
   }

   .title {
       transform: translateZ(5rem);
       font-size: 2rem;
   }

   .subtitle {
       transform: translateZ(2rem);
   }

   .back {
       transform: rotateY(0.5turn);
       background-color: brown;
   }

   .description {
       transform: translateZ(3rem);
   }



 /* loader starts */
   .loader {
       display: inline-block;
       position: relative;
       width: 80px;
       height: 80px;
       transform: rotate(45deg);
       transform-origin: 40px 40px;
   }
   
   .loader div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .loader div:after,
   .loader div:before {
       content: " ";
       position: absolute;
       display: block;
       width: 32px;
       height: 32px;
       background: red;
   }
   
   .loader div:before {
       left: -24px;
       border-radius: 50% 0 0 50%;
   }
   
   .loader div:after {
       top: -24px;
       border-radius: 50% 50% 0 0;
   }
   
   @keyframes loader45 {
    0% {
	transform: scale(0.95);
    }
    
    5% {
	transform: scale(1.1);
    }
    
    39% {
	transform: scale(0.85);
    }
    
    45% {
	transform: scale(1);
    }
    
    60% {
	transform: scale(0.95);
    }
    
    100% {
	transform: scale(0.9);
    }
   }
   /* loader ends here */
